{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="author" value="EP" />
    <meta name="copyright" value="EP" />
{% endblock %}

{% block title %}Hello Home Page !{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}
